<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>La Brasa Brava</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">La Brasa Brava</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding ion-text-center">
    @if (sesion.empleadoActual(); as empleado) {
      <p>Sesión iniciada como {{ empleado.nombres }} ({{ empleado.perfil }})</p>
      <ion-button expand="block" color="medium" (click)="salir()">
        Cerrar sesión
      </ion-button>
    }

    <ion-button expand="block" routerLink="/lista-espera">
      Solicitar mesa (lista de espera)
    </ion-button>
    <ion-button expand="block" routerLink="/empleado">
      Agregar empleado
    </ion-button>
  </div>
</ion-content>